/* Estilos básicos e animação para a página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s ease-in-out;
}

/* Estilos para o cabeçalho */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
}

/* Seções */
section {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* Colunas para os personagens */
#personagens {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
}

/* Estilos de cada personagem */
.personagem {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.personagem:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Estilos para as imagens dos personagens */
.personagem img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.personagem img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Link para as imagens */
a {
    text-decoration: none;
    display: inline-block;
}

/* Estilos para texto */
p {
    font-size: 1.1em;
    color: #333;
}

strong {
    color: #000000;
}

/* Animação de carregamento */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



